Source: neurotools
Priority: optional
Maintainer: <neurotools@neuralensemble.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python-dev (>= 2.5) | python2.5-dev, python-central
Standards-Version: 3.8.0
Section: python
Homepage: http://neuralensemble.org/NeuroTools
XS-Python-Version: >= 2.5

Package: python-neurotools
Architecture: all
Depends: ${python:Depends}, python-numpy, python-scipy, python-matplotlib, python-tk
Recommends: mencoder, nest2, python-rpy, texlive-latex-extra
XB-Python-Version: ${python:Versions}
Description: Tools to support neural simulation tasks.
 - The signals module provides core functionality that allows manipulation of
   and calculations with spike trains and analog signals.
 - The spike2 module offers an easy way for reading data from CED's Spike2 Son
   files into the NeuroTools enviroment.
 - The parameters module contains classes to make managing large, hierarchical
   parameter sets easier.
 - The analysis module contains miscellaneous analysis functions.
 - The stgen module contains various stochastic process generators relevant for
   Neuroscience (OU, poisson, inhomogenous gamma, ...).
 - The utilities sub-package contains srblib, an easy-to-use interface for
   interacting with SRB servers.
 - The io module is the gateway for all reading/writing of files, in different
   formats, in NeuroTools.
 - The plotting module contains a collection of tools for plotting and image
   processing, based on Matplotlib and the Python Imaging Library.
 - The datastore resents a consistent interface for persistent data storage
   (e.g., for caching intermediate results), irrespective of storage back-end.

